@{
    Layout = "_Layout.cshtml";
}

<h2>מה זה בכלל?</h2>

<p>אתר זה משמש לשתי מטרות:</p>
<ul>
    <li>חיפוש במאגרי מידע חופשיים בעברית</li>
    <li>הדגמת יכולות מנוע החיפוש העברי בקוד-פתוח HebMorph</li>
</ul>

<h2>איזה מאגרים יש פה?</h2>
<p>נכון לעכשיו הויקיפדיה העברית (פברואר 2014) ופרוייקט בן-יהודה</p>

<h2>קרדיטים</h2>
<p>Microsoft, JetBrains, QBox.io</p>