@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<HebrewSearch.HomeViewModel>
@{
    Layout = "_Layout.cshtml";
}

<h1>Total results: @Model.TotalResults</h1>

@if (Model.Results != null)
{
    foreach (var r in Model.Results)
    {
        <div>
            <h2>@r.Title</h2>
            <p>@r.Snippets</p>
        </div>
    }
}