<!DOCTYPE html>
<html lang="he">
<head>
    <title>חיפוש עברי במאגרים חופשיים</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css">
    <link rel="stylesheet" href="/static/styles/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="/static/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/styles/readingpane.css">
    <link rel="stylesheet" href="/static/styles/search-results.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.js"></script>
</head>

<body class="rtl" data-spy="scroll" data-target="#reading-sidebar" data-offset="70">
    <a class="sr-only" href="#content">Skip to main content</a>

    <header class="navbar navbar-fixed-top navbar-inverse kz-reading-pane-nav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">חיפוש עברי</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/search/ויקיפדיה">חיפוש</a></li>
                    <li><a href="http://code972.com/blog/tagged/hebmorph">בלוג</a></li>
                    <li><a href="/about">אודות</a></li>
                    <li><a href="/contact">צור קשר</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </header><!-- /.navbar -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="pull-right visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p>
                <div class="jumbotron title">
                    <form action="/search" method="GET">
                        <h1>חיפוש עברי</h1>
                        <p class="subtitle"><input type="text" name="q" /> <input type="submit" value="חפש"/></p>
                    </form>
                </div>
                <div class="row">
                    @RenderBody()
                </div><!--/row-->
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer id="kz-footer">
            <p>&copy; 2014 איתמר-סין-הרשקו</p>
        </footer>

    </div><!--/.container--> 
</body>
</html>